select{
    background-color: #FEE8E8;
    text-align: center;
    border: 2px solid;
    border-radius: 9px;
    height: 40px;
    width: 250px;
}

.linkdeco{
    text-decoration: none;
    color: rgb(139, 13, 13);;
}

.linkdeco :hover{
    color: #db2b2b;
}